body {
  margin: 0;
  font-family: "Poppins";
  background-color: #f6f6f6;
  height: 100vh;
}

.logo {
  width: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-name {
  color: #383838;
  font-size: 46px;
  font-weight: 700;
}

.icon {
  width: 30px;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.stars {
  display: flex;
  align-items: center;
  gap: 4px;
}