.item {
    width: 350px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.item-img {
    width: 100%;
    min-height: 250px;
    height: 250px;
    object-fit: cover;
}

.item-details {
    padding: 0 0 10px 10px;
    font-size: 18px;
}

.item-heading {
    font-size: 28px;
    font-weight: 600;
}

.item-ratings {
    display: flex;
    height: 25px;
    align-items: center;
    gap: 15px;
}