.admin {
    display: flex;
    min-height: 732px;
}

.admin-upper {
    min-width: 400px;
    box-shadow: 10px 0 5px -13px white;
}

.admin-lower>.list-service-center {
    margin: 30px 50px;
}

@media (max-width:800px) {
    .admin {
        flex-direction: column;
    }
}