.service-center-details-main-img {
    display: flex;
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.service-center-details-left-lower {
    display: grid;
    gap: 12px;
}

.service-center-details-left-lower>p {
    display: flex;
    gap: 30px;
}

.service-center-details-left-lower-heading {
    font-size: 40px;
    font-weight: 600;
}

.operatingStatus {
    position: absolute;
    padding: 0 10px;
    font-weight: 500;
}

.operatingHours {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.operatingHours>p {
    display: flex;
    gap: 30px;
}

.operatingHours0 {
    color: green;
}

.operatingHours1 {
    color: red;
}