.review-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.review-card-item-heading {
    display: flex;
    justify-content: center;
    font-size: 45px;
}

hr {
    width: 300px;
    border: 2px solid black;
    margin: 10px 0 50px 0;
}

.card-item-container {
    min-height: 230px;
    display: flex;
    gap: 50px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #999;
    max-width: 500px;
    padding: 15px 25px;
    border-radius: 64px;
    box-shadow: 2px 4px 8px #999;
}

.card-item-heading {
    font-size: 34px;
    font-weight: 500;
}

.card-star-icon {
    width: 28px;
}

.card-stars {
    margin: 10px 0 20px 0;
}

.card-item-reviewText {
    font-size: 28px;
}

.img {
    width: 40px;
}

.previous-img {
    rotate: 180deg;
}

.carousel-click-img {
    display: flex;
}