:root {
  /* --bg-theme-1: linear-gradient(21deg, #424242 16%, #9797f8 80%, transparent);
  --nav-theme-1: linear-gradient(21deg, #940404 -59%, #0000ff42 106%, transparent);
  --footer-theme-1: linear-gradient(21deg, #940404 -59%, #0000ff42 106%, transparent);
  --container-theme-1: white;
  --box-theme-1: white;
  --form-theme-1: white;
  --color-theme-1: black;
  --txt-color-theme-1: black;
  --nav-shadow-theme-1: 0px -10px 8px 6px white;
  --footer-shadow-theme-1: 0px 12px 8px 8px white;
  --hr-theme-1: black;
  --border-theme-1: 1px solid #adadad40; */

  /* Night Theme */
  --bg-theme-1: #1c1b1e;
  --nav-theme-1: #1c1b1e;
  --footer-theme-1: #1c1b1e;
  --container-theme-1: #25242a;
  --box-theme-1: #25242a;
  --form-theme-1: #25242a;
  --color-theme-1: white;
  --txt-color-theme-1: black;
  --nav-shadow-theme-1: 0px -10px 8px 6px white;
  --footer-shadow-theme-1: 0px 12px 8px 8px white;
  --hr-theme-1: white;
  --border-theme-1: 1px solid #adadad40;


  --bg-color-1: black;
  --bg-color-2: #c2c2ff;
  --bg-color-3: rgb(238 238 255);
  --bg-color-4: white;

  --nav-bg-color-1: darkgray;
  --footer-bg-color-1: beige;
  --hr-bg-color-1: #000000;
  --btn-bg-color-1: #ff4141;

  --primary-color: blue;
  --success-color: green;
  --danger-color: red;
  --secondary-color: grey;

  --color-1: black;
  --color-2: white;
  --color-3: #252525;
  --color-4: #5c5c5c;
  --color-5: #252525;
  --color-5: #252525;
  --textarea-color-1: #7b7b7b;

  --font-size-1-4: 14px;
  --font-size-1-8: 18px;
  --font-size-2: 20px;
  --font-size-2-4: 24px;
  --font-size-3: 28px;
  --font-size-3-6: 36px;
  --font-size-4: 42px;
  --font-size-5: 50px;
  --font-size-x: x-large;

  --font-weight-1: 500;
  --font-weight-2: 600;
  --font-weight-3: 700;

  --gap-1: 10px;
  --gap-1-5: 15px;
  --gap-2: 20px;
  --gap-3: 30px;
  --gap-5: 50px;
  --gap-6: 60px;
  --gap-7: 70px;
  --gap-10: 100px;

  --box-shadow-1: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --transition-1: 0.3s;
  --box-shadow-2: 2px 4px 8px #999;

  --border-1: 1px solid #999;
  --border-2: 2px solid black;
  --textarea-border-1: 1px solid #7b7b7b8d;
  --border-outset-1: 2px outset;
  --border-inset-1: 2px inset;

  --icon-border-1: 1px solid #ebebeb;

  --border-radius-0-7: 7px;
  --border-radius-1: 10px;
  --border-radius-2: 20px;
  --border-radius-3: 30px;
  --border-radius-4: 40px;
  --border-radius-5: 50px;
  --border-radius-6: 64px;

  --icon-size-1: 18px;
  --icon-size-2: 30px;

  --logo-color-1: #383838;
  --logo-size-1: 35px;
  --logo-weight-1: 700;
  --logo-gap-1: 14px;
  --logo-width-1: 34px;
}

* {
  margin: 0;
  color: var(--color-theme-1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: var(--bg-theme-1);
  color: var(--color-theme-1);
}

.logo {
  width: var(--logo-width-1);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--logo-gap-1);
}

.logo-name {
  color: var(--color-theme-1);
  font-size: var(--logo-size-1);
  font-weight: var(--logo-weight-1);
}

.icon {
  width: var(--icon-size-1);
}

.link {
  text-decoration: none;
  color: var(--color-theme-1);
  cursor: pointer;
}

.stars {
  display: flex;
  align-items: center;
  gap: 4px;
}

.social-icons {
  display: flex;
  gap: var(--gap-2);
}

.icons-container {
  width: 54px;
  padding: 10px;
  padding-bottom: 6px;
  background: var(--footer-bg-color-1);
  border: var(--icon-border-1);
  cursor: pointer;
}

.rating-btn {
  font-size: var(--font-size-3);
}


/* Navbar */
.navbar {
  background: var(--nav-theme-1);
  box-shadow: var(--nav-shadow-theme-1);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 80px;
}

.nav-logo {
  display: flex;
  align-items: center;
  /* font-size: var(--font-size-5);
  font-weight: var(--font-weight-3); */
  margin: 0 40px;
}

.nav-login-profile {
  display: flex;
  align-items: center;
  gap: var(--gap-2);
  margin-right: 50px;
}

.nav-logo>p {
  margin-bottom: 0;
}

.nav-btn {
  /* padding: 15px 50px;
  font-size: var(--font-size-x);
  border-radius: 6px;
  border: 1px inset;
  font-weight: var(--font-weight-2); */
  cursor: pointer;
}

.nav-profile {
  background: var(--container-theme-1);
  width: 36px;
  height: 36px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  border: var(--border-1);
}

.nav-profile_icon {
  width: 20px;
}


/* Footer */
.footer {
  background: var(--footer-theme-1);
  box-shadow: var(--footer-shadow-theme-1);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-5);
}

.footer-logo {
  justify-content: center;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: var(--gap-5);
  color: var(--color-3);
  font-size: var(--font-size-x);
}

.footer-links li {
  cursor: pointer;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-3);
  width: 100%;
  margin-bottom: 30px;
  color: #1a1a1a;
  font-size: var(--font-size-2);
}

.footer hr {
  background: var(--hr-theme-1);
  width: 70%;
  margin: 0;
}

@media (max-width:800px) {
  .footer {
    gap: var(--gap-2);
  }

  .footer-logo {
    gap: var(--gap-1);
    align-items: end;
  }

  .footer-logo img {
    width: 30px;
  }

  .footer-logo p {
    font-size: var(--font-size-2);
  }

  .footer-links {
    font-size: var(--font-size-1);
    gap: var(--gap-1);
  }

  .footer-social-icon img {
    width: 18px;
  }

  .footer-copyright {
    font-size: var(--font-size-1);
  }
}


/* Item */
.item {
  background: var(--container-theme-1);
  width: 250px;
  height: auto;
  border-radius: var(--border-radius-2);
  overflow: hidden;
  border: var(--border-theme-1);
  box-shadow: var(--box-shadow-1);
  transition: var(--transition-1);
}

.link {
  text-decoration: none;
  color: var(--color-theme-1);
  cursor: pointer;
}

.item-img {
  width: 100%;
  min-height: 180px;
  height: 180px;
  object-fit: cover;
}

.item-details {
  padding: 5px 10px 10px 10px;
  font-size: var(--font-size-1-8);
}

.item-details p {
  margin-bottom: auto;
}

.item-heading {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-2);
}

.item-ratings {
  display: flex;
  height: 25px;
  align-items: center;
  gap: var(--gap-1-5);
}


/* AddServiceCenter */
.add-service-center {
  background: var(--form-theme-1);
  margin: 50px auto;
  padding: 41px;
  min-width: 850px;
  max-width: 950px;
}

.add-service-center-itemfield {
  display: grid;
  font-size: var(--font-size-2);
  margin-bottom: 22px;
}


.add-service-center-inputfield-save {
  display: grid;
  grid-template-columns: 1fr 0fr;
  align-items: center;
  gap: var(--gap-6);
}

.add-service-center-location,
.add-service-center-operating-hours,
.add-service-center-date-picker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-6);
}

input,
textarea,
select {
  padding: 8px 12px;
  /* font-family: serif; */
  /* font-size: var(--font-size-2); */
  color: #000000;
  border: var(--border-1);
  border-radius: var(--border-radius-0-7);
  resize: none;
}

select option {
  color: var(--txt-color-theme-1);
}

.addproduct-thumnail-img {
  max-width: 100%;
  max-height: 250px;
  border-radius: var(--border-radius-1);
  object-fit: contain;
  margin: 10px 0px;
}

.add-service-center-btns {
  display: flex;
  justify-content: space-between;
}

.add-service-center-btns1 {
  display: flex;
  /* justify-content: end; */
}

.input-icon {
  width: 45px;
}

.heading-add-input {
  display: flex;
  justify-content: space-between;
}

.add-service-center-itemfield ul {
  display: grid;
  gap: var(--gap-1);
}

.add-service-center-itemfield li {
  display: flex;
  justify-content: space-between;
}

.edit-delete-btn {
  display: flex;
  gap: var(--gap-1);
}

.add-service-center-itemfield-save-btn {
  display: contents;
}


/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: var(--gap-2);
  box-shadow: 10px 0 5px -13px white;
}

.sidebar-item {
  background: var(--container-theme-1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 50px;
  font-size: var(--font-size-1-8);
  padding: 10px;
  border: var(--border-1);
  border-radius: var(--border-radius-0-7);
  gap: var(--gap-2);
  cursor: pointer;
}

@media (max-width:800px) {
  .sidebar {
    padding: 30px 0px;
    flex-direction: row;
    width: 100%;
    max-width: none;
    height: auto;
    justify-content: center;
    margin: 0;
  }
}


/* ListServiceCenter */
.list-service-center {
  width: 100%;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-5);
}


/* ServiceCenter */
.service-center {
  min-height: 760px;
}


/* ServiceCenterDisplay */
.service-center-display-upper,
.service-center-display-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  font-size: var(--font-size-3);
  gap: var(--gap-10);
}

.service-center-display-left {
  background: var(--container-theme-1);
  width: 90%;
  border: var(--border-outset-1);
  padding: 30px 100px;
  border-radius: var(--border-radius-1);
}

.service-center-details-left-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.service-center-display-right {
  background: var(--container-theme-1);
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: var(--border-inset-1);
  border-radius: var(--border-radius-1);
  height: fit-content;
}

.service-center-display-right-heading {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-2);
  font-variant-caps: all-small-caps;
  margin: 0px 0px 4px;
}

/* ServiceCenterDetails */
.service-center-details-main-img {
  width: 500px;
  height: 500px;
}

.service-center-details-left-upper {
  height: 450px;
}

.service-center-details-left-lower {
  display: grid;
  gap: var(--gap-1);
}

.service-center-details-left-lower .service-center-details-left-lower-heading {
  font-size: var(--font-size-3-6);
  font-weight: var(--font-weight-1);
}

.service-center-details-left-lower p {
  display: flex;
  gap: var(--gap-2);
  font-size: var(--font-size-2-4);
}

.operatingStatus {
  position: absolute;
  padding: 0 10px;
  font-weight: var(--font-weight-2);
}

.operatingHours {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1-5);
}

.operatingHours>p {
  display: flex;
  gap: var(--gap-3);
}

.operatingHours0 {
  color: var(--success-color);
}

.operatingHours1 {
  color: var(--danger-color);
}


/* ReviewCardItem ******************** */
.review-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.review-card-item-heading {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-4);
}

hr {
  width: 300px;
  border: var(--border-2);
  margin: 10px 0 50px 0;
}

.card-item-container {
  min-height: 230px;
  display: flex;
  gap: var(--gap-5);
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: var(--border-1);
  width: 300px;
  padding: 15px 25px;
  border-radius: var(--border-radius-4);
}

.card-item-heading {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-1);
}

.card-star-icon {
  width: 28px;
}

.card-stars {
  margin: 10px 0 20px 0;
}

.card-item-reviewText {
  font-size: var(--font-size-3);
}

.img {
  width: 40px;
}

.previous-img {
  rotate: 180deg;
}

.carousel-click-img {
  display: flex;
}


/* Ratings And Reviews Admin Panel */
.ratings {
  display: flex;
  justify-content: center;
}

.reviews-panel {
  display: grid;
  gap: var(--gap-1);
}

.reviews-panel hr {
  width: 100%;
}

.review {
  display: flex;
  gap: var(--gap-3);
  align-items: end;
  font-variant: historical-ligatures;
  /* border: 1px solid #999;
  padding: 12px;
  border-radius: 10px; */
}

.review .review-left .review-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.review .review-right .review-text {
  font-size: var(--font-size-2);
}


/* RatingsAndReviewForm */
.ratings-reviews-form {
  margin: auto;
  font-size: var(--font-size-x);
}

.ratings-reviews-form>form {
  background: var(--container-theme-1);
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  border: var(--border-1);
  width: 800px;
  padding: 50px;
  border-radius: var(--border-radius-1);
}

.ratings-reviews-form form label {
  display: grid;
  gap: var(--gap-1);
}

.ratings-reviews-form form button {
  font-size: 20px;
}

.ratings-reviews-form form label div textarea {
  resize: none;
  width: 100%;
}

.rating-review-form-star-icons {
  width: 30px;
  cursor: pointer;
}